.git
.gitignore
.dockerignore
Dockerfile
docker-compose.yml
README.md
DEVELOPER_GUIDE.md
node_modules
npm-debug.log
yarn-error.log
vendor
.env
.env.example
local-test-database.db
storage/app/*
storage/framework/*
storage/logs/*
bootstrap/cache/*
resources/js/node_modules
public/hot
.env.backup
composer.lock
package-lock.json